.panda-color {
    background-color: #fdeae9;
}

.panda-bg-watch {
    background-color: #faa503;
}

.panda-bg-bag {
    background-color: #da71d6;
}

.panda-bg-shoe {
    background-color: #0100ff;
}

.panda-bg-btn {
    background-color: #f61f7c;
    padding: 10px 35px;
    border: none;
    border-radius: 8px;
}

.categories img {
    width: 100px;
}